html,body
{
    background: linear-gradient(to top right, #80FFDB, #5390D9);
    /*'fixed' background color : */
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

hr
{
    border: 2px solid white;
    width: 48%;
}

h1
{
    text-shadow: -1px -2px 3px #000000;
    color: #fff;
    text-decoration: underline;
}

.div1
{
    text-align: center;
}



.mountain
{
    -moz-box-shadow: 4px -4px 11px 0px #111112; 
	-webkit-box-shadow: 4px -4px 11px 0px #111112; 
	box-shadow: 4px -4px 11px 0px #111112; 
    margin-left: 60px;
    margin-right: 60px;
    padding: 0.1px;
    width:140px;
    height: 140px;
    border: 3px solid black;
    object-fit: cover;
    cursor: pointer;
}

.mountain:hover
{
    opacity: 0.5;
    -moz-box-shadow: 4px -4px 11px 0px white; 
	-webkit-box-shadow: 4px -4px 11px 0px white; 
	box-shadow: 4px -4px 11px 0px white;
}



.sports
{
    -moz-box-shadow: 4px -4px 11px 0px #111112; 
	-webkit-box-shadow: 4px -4px 11px 0px #111112; 
	box-shadow: 4px -4px 11px 0px #111112; 
    margin-left: 60px;
    margin-right: 60px;
    padding: 0.1px;
    width:140px;
    height: 140px;
    border: 3px solid black;
    object-fit: cover;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    transition: 0.5s;
    cursor: pointer;
}

.sports:hover
{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}



.cakes
{
    -moz-box-shadow: 4px -4px 11px 0px #111112; 
	-webkit-box-shadow: 4px -4px 11px 0px #111112; 
	box-shadow: 4px -4px 11px 0px #111112; 
    margin-left: 60px;
    margin-right: 60px;
    padding: 0.1px;
    width:140px;
    height: 140px;
    border: 3px solid black;
    object-fit: cover;
    
}





