html, body
{
    background: url(blue-blur-wallpapers.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.summary
{
    height: 140px;
    width: 180px;
    overflow: auto;
    text-align: center;
}

.name
{
    text-align: center;
    font-weight: bold;
}

.imgDV img
{
    width: 100px;
}

.infoContainer
{
    flex-direction: row;
}

