html, body
{
    background: url(blue-blur-wallpapers.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.summary
{
    height: 140px;
    width: 180px;
    overflow: auto;
    text-align: center;
}

.name
{
    text-align: center;
    font-weight: bold;
}

.imgDV img
{
    height: 350px;
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.infoContainer
{
    flex-direction: row;
    background: rgba(242, 246, 245, 0.4);
    height: 550px;
    width: 100%;
}

#description
{
    margin-top: 20px;
}

